#footer,
#credentials {
  max-width: 80%;
  margin: 0 auto;
  margin-top: var(--space-900);
}

#footer.flex-container {
  justify-content: space-between;
}

.footer-text {
  align-self: center;

  & p {
    max-width: 300px;
  }
}

.footer-menu {
  flex: 1 1;
}

.footer-title {
  font-size: var(--font-size-500);
}

.footer-title, 
.footer-list li {
  margin-bottom: var(--space-500);
}

#credentials {
  text-align: center;
}

@media (max-width: 750px) {
  #footer {
    text-align: center;
  }

  .footer-text {
    display: inline-block;
    margin: 0 auto var(--space-700) auto;
  }
}